.cards-field {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.cards-field-medium {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-gap: 1em;
}
.cards-field-hard {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 15fr);
  grid-column-gap: 0px;
  // grid-gap: 1em;
}
